.spinner_position {
    display: flex;
    justify-content: center;
}

.spinner {
    border-radius: 50%;
    border: clamp(0.4rem, 1.4vw, 0.75rem) solid #F18F01;
    border-top: clamp(0.4rem, 1.4vw, 0.75rem) solid #2162A1;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}