@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sign-in .background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    text-align: center;
    color: #fff;
    position: relative;
    border-radius: 12px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(14px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card .input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input input {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 40px;
    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 20px 45px 20px 20px;
}

.input input::placeholder {
    color: #fff;
}

.input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.forgot a {
    color: #fff;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}